@media print {
	.no-print, .no-print * { display: none !important; }
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
	.col-sm-12 { width: 100%; }
	.col-sm-11 { width: 91.66666667%; }
	.col-sm-10 { width: 83.33333333%; }
	.col-sm-9 { width: 75%; }
	.col-sm-8 { width: 66.66666667%; }
	.col-sm-7 { width: 58.33333333%; }
	.col-sm-6 { width: 50%; }
	.col-sm-5 { width: 41.66666667%; }
	.col-sm-4 { width: 33.33333333%; }
	.col-sm-3 { width: 25%; }
	.col-sm-2 { width: 16.66666667%; }
	.col-sm-1 { width: 8.33333333%; }
}



body {
	background-color: #555;
	line-height: 1.4em;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
	height: 100%;
}

@media (min-width: 768px) {
	#left , #right {
		position: absolute;
		top: 0px;
		overflow: auto;
		padding: 0;
	}
	#left {
		left: 0;
		min-height: 100vh;
	}
	#right {
		right: 0;
	}
}
#left , #right {
	height: 100%;
}
#left {
	background-color: #363636;
	line-height: 1em;
}
#left * {
	color: #eee;
}
#left h3 , #left h4 {
	color: #fff;
}
#left .btn {
	color: #fff;
}
#left .btn.btn-default {
	color: #666;
}


#panel {
	padding: 5%;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
#customTemplateOptions {
	display: none;
}
.toggle-button {
	display: inline-block;
	float: right;
}
.toggle-option {
	display: inline-block;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
	border-radius: 2px;
}
.toggle-option {
	background-color: #222;
}
.toggle-option.selected {
	/* background-color: #27AE60; */
	/* background-color: #5cb85c; */
	background-color: #E74C3C;
}
.custom-button {
	display: inline-block;
	padding: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	cursor: pointer;
	border-radius: 2px;
}
.custom-button {
	background-color: #8E44AD;
}
.custom-button.selected {
	background-color: #E74C3C;
}



#page {
	/* width: 794px; */
	/* height: 29.7cm; */
	width: 21cm;
	background-color: white;
	margin: 1% auto 1% auto;
	padding: 0.2cm 1.3cm 1cm 1.3cm;
	box-shadow: 0px 0px 20px 0px #000;
	text-align: left;
}


#page h2 {
	margin-bottom: 4px;
}
#page h5 {
	margin-top: 2px; margin-bottom: 3px;
}

a {
	color: #666;
}

ul {
	margin-left: 20px;
	padding-left: 20px;
}
li {
	margin-top: 1%;
}
ul.nobullet {
	list-style: none;
}
ul.disc {
	list-style: disc;
	margin-left: 0px;
	padding-left: 20px;
}
ul.circle {
	list-style: circle;
	margin-left: 0px;
	padding-left: 20px;
}
ul.square {
	list-style: square;
	margin-left: 0px;
	padding-left: 20px;
}
ul.dash {
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
}
ul.dash li {
	padding-left: 20px;
	text-indent: -1em;
}
ul.dash li:before {
	content: "-";
	padding-right: 10px;
}
ul.decimal {
	list-style: decimal;
	margin-left: 0px;
	padding-left: 20px;
}
ul.upper-roman {
	list-style: upper-roman;
	margin-left: 0px;
	padding-left: 20px;
}
ul.lower-roman {
	list-style: lower-roman;
	margin-left: 0px;
	padding-left: 20px;
}
ul.upper-alpha {
	list-style: upper-alpha;
	margin-left: 0px;
	padding-left: 20px;
}
ul.lower-alpha {
	list-style: lower-alpha;
	margin-left: 0px;
	padding-left: 20px;
}

.star {
	margin-top: 5px;
}
.light {
	font-weight: 300;
}
.grey {
	color: #666;
}
.borderless { margin-bottom: 0; }
.half {
	display: inline-block;
	width: 49.5%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.tab {
	margin-left: 10px;
}
.btn:focus {
	outline: 0px;
}


#image_box {
	float: left;
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 15px;
}
#info {
	margin-bottom: 0px;
	margin-top: auto;
}
#contact {
	position: absolute;
	bottom: 0;
	right: 20px;
	text-align: right;
}
#contentMinor , #contentBranch , #contactLink2 {
	display: none;
}


.table tbody tr td, .table tbody tr th, .table thead tr th {
	border: none;
	padding: 0;
	font-size: 13.71px;
}
td {
	color: #444;
}
td.header {
	color: #333;
}
.table.customBordered , .table.customBordered * {
	border: 0px;
}
.table.customBordered {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}
.table.customBordered tr {
	border-bottom: 1px solid #999;
}
.table.customBordered tr td {
	padding: 0px 5px 0px 5px;
	border-right: 1px solid #999;
}


.section-title h4 { 
	margin-top: 15px;
	margin-bottom: 0px;
}
.section-title.uppercase h4 {
	text-transform: uppercase;
}
.section-title.shaded h4 {
	padding: 3px;
	padding-left: 10px;
	font-size: 14px;
	background-color: #ccc !important;
}

.section-title.ruled.rule-above hr.hr-above { 
	border: 0.5px solid hsl(0,0%,40%);
	margin-top: 0px; margin-bottom: 0px;
}
.section-title.ruled.rule-above hr.hr-below { 
	border: none;
	margin: 0px;
}
.section-title.ruled.rule-below hr.hr-above { 
	border: none;
	margin: 0px;
}
.section-title.ruled.rule-below hr.hr-below { 
	border: 0.5px solid hsl(0,0%,40%);
	margin-top: 2px; margin-bottom: 5px;
}
.section-title.shaded hr { 
	border: none;
	margin: 0px;
}


.text {
	color: #444;
	font-size: 0.98em;
}
.time {
	color: #333;
	font-style: italic;
	margin-right: 1px;
}
.mentor {
	font-weight: 300;
	font-style: italic;
}
.link {
	color: #666;
	margin-left: 30px;
	font-weight: 300;
	font-style: italic;
	margin-right: 1px;
}
#sectionProjects .mentor , #sectionProjects .link {
	display: inline-block;
}
#sectionSkills li , #sectionCourses li {
	margin-top: 0.5%;
}
#sectionExperience .title , #sectionExperience .time {
	display: inline-block;
}
#sectionPublications .title , #sectionPublications .time {
	display: inline-block;
}
#sectionProjects .title , #sectionProjects .time {
	display: inline-block;
}
#sectionInterest {
	display: none;
}



#page.verdana-sans * {
	font-family: "Verdana", sans-serif;
}
#page.verdana-serif * {
	font-family: "Verdana", serif;
}
#page.roboto * {
	font-family: 'Roboto', sans-serif;
}
#page.droid * {
	font-family: 'Droid Serif', serif;
}
.droid strong , .verdana-sans strong , .verdana-serif strong {
	font-weight: 700;
}
.roboto strong {
	font-weight: 500;
}
.droid .title , .verdana-sans .title , .verdana-serif .title {
	font-weight: 700;
}
.roboto .title {
	font-weight: 500;
}


::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px hsla(0,0%,0%,0.3);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	 background-color: hsla(0,0%,100%,0.5);
	-webkit-box-shadow: inset 0 0 6px hsla(0,0%,100%,1);
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsla(0,0%,100%,0.7);
}