@media print {
	.no-print, .no-print * { display: none !important; }
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
	.col-sm-12 { width: 100%; }
	.col-sm-11 { width: 91.66666667%; }
	.col-sm-10 { width: 83.33333333%; }
	.col-sm-9 { width: 75%; }
	.col-sm-8 { width: 66.66666667%; }
	.col-sm-7 { width: 58.33333333%; }
	.col-sm-6 { width: 50%; }
	.col-sm-5 { width: 41.66666667%; }
	.col-sm-4 { width: 33.33333333%; }
	.col-sm-3 { width: 25%; }
	.col-sm-2 { width: 16.66666667%; }
	.col-sm-1 { width: 8.33333333%; }
}



body {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
@media (min-width: 768px) {
	#left , #right {
		position: absolute;
		top: 0px;
		overflow: auto;
		padding: 0;
	}
	#left {
		left: 0;
		min-height: 100vh;
	}
	#right {
		right: 0;
	}
}
#left , #right {
	height: 100%;
}



::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px hsla(0,0%,0%,0.3);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	 background-color: hsla(0,0%,100%,0.5);
	-webkit-box-shadow: inset 0 0 6px hsla(0,0%,100%,1);
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsla(0,0%,100%,0.7);
}